@media (prefers-color-scheme: dark) {
  html, body {
    margin: 0;
    background-image: url("/images/background-page.png");
    background-repeat: repeat;
  }

  html {
    --bg-color: #333333;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body canvas {
    box-shadow: 0 0 100px black;
  }

  div.container {
    position: relative;
    width: 800px;
    height: 600px;
  }

  .start-button {
    position: absolute;
  }

  .menu,
  .menu .button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
  }

  .menu {
    --button-bg: #2b7fff;
    --button-color: white;
    --primary-button-bg: white;
    --primary-button-color: black;
    --hover-lighten: -0.2;
    padding: 0.5em 1em;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    transition: all;
    transition-duration: 1s;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  .menu .spacer {
    flex: 1;
  }

  .menu.centered {
    bottom: 0;
    min-height: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .menu.bottom {
    bottom: 0;
    padding-bottom: 20px;
  }

  .menu .button {
    padding: 0.3em 1.5em;
    font-size: 24px;
    color: var(--button-color);
    text-transform: uppercase;
    border: none;
    background: linear-gradient(to bottom, var(--button-bg), oklch(from var(--button-bg) calc(l + var(--hover-lighten)) c h));
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;
    border-radius: 10px;
  }

  .menu .button.primary {
    --button-bg: var(--primary-button-bg);
    --button-color: var(--primary-button-color);
  }

  .menu .button:hover,
  .menu .button.primary:hover {
    scale: 1.05;
    --hover-lighten: -0.1;
  }

  .menu label.checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 24px;;
  }

  .dialog-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr 400px 1fr;
    background: rgba(0, 0, 0, 0.4);
  }

  dialog {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: all;
    transition-duration: 0.3s;
    scale: 1;
    opacity: 1;

    @starting-style {
      scale: 0.8;
      opacity: 0;
    }
  }

  dialog::backdrop {
    background-color: black;
  }

  dialog > * {
    margin: 0;
    padding: 15px 20px 0;
  }

  dialog > *:last-child {
    padding-bottom: 15px;
  }

  dialog > header {
    flex: 0;
  }

  dialog > header h1 {
    font-size: 20px;
    margin: 0;
  }

  dialog > section {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  dialog > section p {
    margin: 0 0 15px;
  }

  dialog > footer {
    --background-color: black;

    flex: 0;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    border-top: 1px solid oklch(from var(--background-color) l c h / calc(alpha - 0.8));
    background: oklch(from var(--background-color) l c h / calc(alpha - 0.9));
  }

  dialog > footer .spacer {
    flex: 1;
  }

  dialog > footer button {
    --grad-from: white;
    --grad-to: oklch(from var(--grad-from) calc(l - 0.3) c h);
    --text-color: black;

    padding: 5px 10px;
    background: linear-gradient(to bottom, var(--grad-from), var(--grad-to));
    color: var(--text-color);
    border-radius: 5px;
    border: var(--grad-to);
    cursor: pointer;
  }

  dialog > footer button:hover {
    --grad-to: oklch(from var(--grad-from) calc(l - 0.2) c h);
  }

  dialog > footer button:active {
    --grad-to: oklch(from var(--grad-from) calc(l - 0.4) c h);
  }

  dialog > footer button:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  dialog > footer button.primary {
    --grad-from: rgba(0, 150, 255, 1);
    --text-color: white;
  }

  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .animated {
    animation: rotate 1s linear infinite;
    scale: 1;
    opacity: 1;
    transition: all;
    display: inline-block;

    @starting-style {
      scale: 0.8;
      opacity: 0;
    }
  }

  .dialog-icon {
    --width: 50px;
    --height: 50px;

    border-radius: 2em;
    position: relative;
    width: var(--width);
    height: var(--height);
    margin-bottom: 15px;
  }

  .dialog-icon:after {
    content: "";
    width: calc(var(--width) / 2);
    height: calc(var(--height) / 2);
    display: inline-block;
    border-radius: 2em;
    top: calc(var(--height) / 4);
    left: calc(var(--width) / 4);
    font-size: 22px;
    position: absolute;
  }

  .confirmed {
    background: linear-gradient(to bottom, oklch(from darkgreen calc(l + 0.2) c h), darkgreen);
  }

  .confirmed:after {
    content: "✓";
    color: darkgreen;
    background-color: white;
    text-align: center;
  }

  .declined {
    background: linear-gradient(to bottom, oklch(from darkred calc(l + 0.2) c h), darkred);
  }

  .declined:after {
    content: "ⅹ";
    color: darkred;
    background-color: white;
    text-align: center;
  }

  .waiting {
    background: conic-gradient(
      lightgray 180deg, black
    );
  }

  .waiting:after {
    background: white;
  }

  .visualizer-space {
    position: relative;
    width: 100%;
    min-height: 50px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
  }

  .visualizer-space > * {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .visualizer-space counter-component {
    font-size: 25px;
    vertical-align: middle;
    line-height: 50px;
  }
}
