@media (prefers-color-scheme: dark) {
  html, body {
    margin: 0;
  }

  html {
    --bg-color: #333333;
  }

  body {
    background: linear-gradient(
      to bottom,
      oklch(from var(--bg-color) calc(l - 0.1) c h),
      oklch(from var(--bg-color) calc(l + 0.1) c h)
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body canvas {
    box-shadow: 0 0 100px black;
  }

  #container {
    position: relative;
  }

  .start-button {
    position: absolute;
  }

  .menu {
    display: flex;
    width: var(--width);
    position: absolute;
    top: var(--start-top);
    left: calc(50% - (var(--width) / 2));
    gap: 15px;
  }

  .menu.menu-horizontal {
    --width: auto;
    --start-top: 65%;
    flex-direction: row;
  }

  .menu.menu-vertical {
    --width: 300px;
    --start-top: 55%;
    flex-direction: column;
  }

  .menu button {
    --button-color: white;

    padding: 0.5em 1em;
    border: 3px solid var(--button-color);
    border-radius: 10px;
    background: transparent;
    color: var(--button-color);
    transition: all;
    transition-duration: 0.2s;
    cursor: pointer;
  }

  .menu button:hover {
    background: oklch(from var(--button-color) l c h / 0.1);
  }

  .menu button:active {
    color: oklch(from var(--button-color) calc(l - 0.1) c h);
    border-color: oklch(from var(--button-color) calc(l - 0.1) c h);
  }

  .menu button.primary {
    font-size: 1.2em;
  }
}
