@media (prefers-color-scheme: dark) {
  html, body {
    margin: 0;
    background-image: url("/images/background-page.png");
    background-repeat: repeat;
  }

  html {
    --bg-color: #333333;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body canvas {
    box-shadow: 0 0 100px black;
  }

  div.container {
    position: relative;
    width: 800px;
    height: 600px;
  }

  .start-button {
    position: absolute;
  }

  .menu {
    --button-bg: #2b7fff;
    --button-color: white;
    --primary-button-bg: white;
    --primary-button-color: black;
    --hover-lighten: -0.2;
    padding: 0.5em 1em;
    box-sizing: border-box;
    position: absolute;
    display: flex;
  }

  .menu .spacer {
    flex: 1;
  }

  .menu.centered {
    bottom: 0;
    min-height: 50%;
    text-align: center;
    align-items: center;
  }

  .menu .button {
    padding: 0.3em 1.5em;
    font-size: 24px;
    color: var(--button-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    background: linear-gradient(to bottom, var(--button-bg), oklch(from var(--button-bg) calc(l + var(--hover-lighten)) c h));
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;
    border-radius: 10px;
  }

  .menu .button.primary {
    --button-bg: var(--primary-button-bg);
    --button-color: var(--primary-button-color);
  }

  .menu .button:hover,
  .menu .button.primary:hover {
    scale: 1.05;
    --hover-lighten: -0.1;
  }
}
